@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background:url(https://wallpapercave.com/wp/YWu8z9R.gif);
    background-position: top;
    background-size: cover;
    color: rgb(255, 254, 254);
    font-family: 'VT323', monospace;;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    
   
}

/*-------------------START-FRAME-------------------------*/

.hide {
    display: none;
}

#start-frame  {
    text-align: center;
}

h1 {
    font-size: 65px;
}

h3 {
    font-size: 20px;
}

p, li {
    font-size: 50px;
}

button {
    background-color: rgba(248, 245, 245, 0.651);
    color: rgb(245, 241, 241);
    display: block; margin: auto; 
    height: 50px;
    width: 200px;
    font-size: 25px;
    font-family: 'VT323', monospace;;
    margin-top: 100px;
    cursor: pointer;
}

button:hover {
    color: rgb(0, 0, 0);
}

/*----------------------------THE-GAME----------------------------------------*/


#hangman {
    stroke: rgb(245, 243, 243);
    stroke-width: 5px;
}

.thinner {
    stroke-width: 2px;
    fill: white;
}

#lose-popup {
    background-image: url(https://i.gifer.com/U3w9.gif);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#win-popup {
    background-image: url(https://i.gifer.com/7ktp.gif);
    background-position: center;
    background-size: cover;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    display: none; 
    border-radius:  5px;
    box-shadow: 0 15px 10px 3px rgba(18, 17, 17, 0.249);
    padding: 20px;
}


#game-name, #instructions-heading, #instructions-text {
    text-align: center;
}

#instructions-text {
    margin-bottom: 80px;
    font-size: 20px;
}

#instructions-heading {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 3px;
}

#game-name{
    margin-top: 30px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    display:flex;
    flex-direction: row;
}

#game-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

#right-word {
    display: none;
}