/*-------------------IMPORT-FONT-------------------------*/

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/*-------------------GENERAL-STYLING--------------------------*/

body {
    background: url(https://wallpapercave.com/wp/YWu8z9R.gif) top;
    background-size: cover;
    color: rgb(255, 254, 254);
    font-family: 'VT323', monospace;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

.flex-container {
    display: flex;
}


/*-------------------START-FRAME-------------------------*/

#start-frame {
    text-align: center;
}

h1 {
    font-size: 65px;
}

h3 {
    font-size: 20px;
}

p,
li {
    font-size: 50px;
}


/* Styling for all buttons */

button {
    background-color: rgba(248, 245, 245, 0.651);
    color: rgb(245, 241, 241);
    display: block;
    margin: auto;
    height: 50px;
    width: 200px;
    font-size: 25px;
    font-family: 'VT323', monospace;
    ;
    margin-top: 0;
    cursor: pointer;
}

button:hover {
    color: rgb(0, 0, 0);
}


/*----------------------------THE-GAME----------------------------------------*/

#game-container {
    display: grid;
    grid-template-areas: "fig shown-word" "fig wrong-guesses" "fig point-counter";
}

#shown-word {
    grid-area: shown-word;
}

#wrong-guesses {
    grid-area: wrong-guesses;
}

#point-counter {
    grid-area: point-counter;
    margin-left: 2.5rem;
}

#hangman {
    stroke: rgb(245, 243, 243);
    stroke-width: 5px;
    grid-area: fig;
}


/* This is because some parts of the figure were double lined */

.thinner {
    stroke-width: 2px;
    fill: white;
}


/*-------------------------POP-UP-------------------------------------_*/

#lose-popup {
    background-image: url(https://i.gifer.com/U3w9.gif);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    flex-direction: column;
}

#lose-popup h1 {
    font-size: 150px;
    text-decoration-style: wavy;
    margin-top: 30px;
    margin-bottom: 2px;
}

#lose-popup p {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
}

#lose-popup p#the-word-was {
    font-size: 75px;
    margin-bottom: 2rem;
}

#lose-popup button {
    margin-top: 50px;
}

#win-popup {
    background: url(https://giffiles.alphacoders.com/101/101249.gif) center;
    background-size: cover;
    position: absolute;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    top: 20%;
    width: 20%;
    left: 40%;
}

.notification-container {
    background-image: url(https://cdn.lowgif.com/small/f86724643fd609c9-.gif);
    border-radius: 1rem 1rem 0 0;
    padding: 1rem 2rem;
    position: absolute;
    bottom: -160px;
    transition: transform 0.2s ease-in-out;
}

.notification-container p {
    margin: 0;
    color: white;
}

.notification-container.show {
    transform: translateY(-160px);
}


/*----------------------------TEXT-STYLING------------------------------------------*/

#game-name,
#instructions-heading,
#instructions-text {
    text-align: center;
}

#instructions-text {
    margin-bottom: 80px;
    font-size: 20px;
}

#instructions-heading {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 3px;
}

#game-name {
    margin-top: 30px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    flex-direction: row;
}


/*---------------------------DISPLAY-NONE------------------------------------------*/


/* This is placed at the bottom to override previous styling when toggled on in JavaScript */

.hide {
    display: none;
}