@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background:url(https://wallpapercave.com/wp/YWu8z9R.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 254, 254);
    font-family: 'VT323', monospace;;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

/*-------------------START-FRAME-------------------------*/

.hide {
    display: none;
}

h1 {
    font-size: 65px;
}

h3 {
    font-size: 20px;
}

p, li {
    font-size: 50px;
}

button {
    background-color: rgba(248, 245, 245, 0.651);
    color: rgb(245, 241, 241);
    display: block; margin: auto; 
    height: 50px;
    width: 200px;
    font-size: 25px;
    font-family: 'VT323', monospace;;
    margin-top: 100px;
    cursor: pointer;
}

button:hover {
    color: rgb(0, 0, 0);
}


#hangman {
    stroke: rgb(245, 243, 243);
    stroke-width: 5px;
}

.figure-part {
    /*display: none; */
}



#game-name, #instructions-heading, #instructions-text {
    text-align: center;
}

#instructions-text {
    margin-bottom: 95px;
    font-size: 20px;
}

#instructions-heading {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 3px;
}

#game-name{
    margin-bottom: 10px;
}



ul {
    list-style: none;
    display:flex;
    flex-direction: row;
}

#game-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
